$background: #0e0e0e;
$color: #ffffff;
$backgroundItem: #c53720;
$border: #c53720;
$opacity: #444141;
$backgroundNews: #ededed;
$backgroundNewsItem: #1d1d1d;
$colorNews: #c53720;
$colorIcons: #c53720;

.news-banner-home__parent {
  width: 100%;
  background-color: $backgroundNews;
  padding: 88px 0;
  &-context {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 58px;
    border-bottom: solid 4px $border;
    h1 {
      font-size: 42px;
      font-weight: 700;
      line-height: 45.29px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
    }
  }
  &-elementsTwo{
    display: flex;
    justify-content: center;
    margin-top: 65px;
    button {
      width: 236px;
      height: 46px;
      border: solid 4px $border;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      font-weight: 700;
      line-height: 17.61px;
      text-align: center;
      text-underline-position: from-font;
      text-decoration-skip-ink: none;
      color: $border;
      cursor: pointer;
    }
  }
  &-elements {
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
    &-item {
      animation: animateNewsItem 3s ease;
      width: 30%;
      background-color: $backgroundNewsItem;
      display: flex;
      flex-direction: column;
      transition: all 300ms ease;
      gap: 12px;
      overflow: hidden;
      position: relative;
      padding-bottom: 25px;
      &:hover {
        transform: translateY(-25px);
      }
      img {
        width: 100%;
        height: 200px;
        object-fit: cover;
        transition: all 300ms ease;
        &:hover {
          transform: scale(1.3) translateY(-10px);
          margin-bottom: 12px;
        }
      }
      h2,
      b,
      span {
        padding: 4px 15px;
      }
      h2 {
        color: $color;
        font-size: 17px;
        font-weight: 700;
        line-height: 20.13px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
        max-width: 320px;
      }
      b {
        color: $colorNews;
        font-size: 16px;
        font-weight: 500;
        line-height: 15.1px;
        text-align: left;
        text-underline-position: from-font;
        text-decoration-skip-ink: none;
      }
      span {
        position: absolute;
        color: $colorIcons;
        right: 0;
        bottom: 0;
        font-weight: 700;
        font-size: 27px;
        cursor: pointer;
        animation: animateIcon 1s ease 1;
      }
    }
  }
}

@keyframes animateNewsItem {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes animateIcon {
  0% {
    transform: translateX(-140px);
  }
  100% {
    transform: translateX(0);
  }
}



